In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob as glop
import seaborn as sns

test2

In [2]:
#Let's open some files

obs = pd.read_csv('https://raw.githubusercontent.com/keenanandrew/Codecademy/master/Codecademy%20Notebooks/Biodiversity/observations.csv')
species = pd
observations.head()

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85