In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob as glop
import seaborn as sns

## Project scoping

What is this project about?

The spec from the Codecademy exercise says:

_For this project, you will interpret data from the National Parks Service about endangered species in different parks._

_You will perform some data analysis on the conservation statuses of these species and investigate if there are any patterns or themes to the types of species that become endangered. During this project, you will analyze, clean up, and plot data as well as pose questions and seek to answer them in a meaningful way._

_After you perform your analysis, you will share your findings about the National Park Service._

In [18]:
#Let's open some files

obs = pd.read_csv('https://raw.githubusercontent.com/keenanandrew/Codecademy/master/Codecademy%20Notebooks/Biodiversity/observations.csv')
species = pd.read_csv('https://raw.githubusercontent.com/keenanandrew/Codecademy/master/Codecademy%20Notebooks/Biodiversity/species_info.csv')
obs.head()

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

First of all, let's check:

- Size and shape
- Data types
- Nulls and missing data

In [22]:
obs.park_name.unique()

array(['Great Smoky Mountains National Park', 'Yosemite National Park',
       'Bryce National Park', 'Yellowstone National Park'], dtype=object)

# 'Observations'

- This file has 23,000+ rows. 
- Its columns are scientific_name, park_name, observations
- The first two have dtype Objects, the final has dtype Integer.
- There are 5541 unique entries in the Scientific Name column
- But only 4 unique park names
    - Great Smoky Mountains National Park
    - Yosemite National Park
    - Bryce National Park
    - Yellowstone National Park
- and 304 unique observations

In [41]:
species.category.unique()

array(['Mammal', 'Bird', 'Reptile', 'Amphibian', 'Fish', 'Vascular Plant',
       'Nonvascular Plant'], dtype=object)

# 'Species'

- This file has 5824 rows
- but only 4 columns, all Objects
    - category (7 unique)
        - Mammal
        - Bird
        - Reptile
        - Amphibian
        - Fish
        - Vascular Plant
        - Nonvascular Plant
    
    - scientific_name (5541 unique, same as Obs table)
    - common_names (5504 unique)
    - conservation_status (4 unique)
        - Species of Concern
        - Endangered
        - Threatened
        - In Recovery

## What can I actually analyse here?


### Categories

- What categories of animal are seen the most?
- Is there a correlation between category and conservation status?
- What category is seen the most?
-